*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
:root {
    --purple: #34B0BE;
    --red_light: #FF4F6F;
    --black: #000000;
    --black_light: #ADADAD;
    --white: #FFFFFF;
}
nav {
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:6rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-right: 190px;
    color: var(--black);
    font-size: 12px;
}

.vector__nav {
    transform: scale(0.7);

}

nav ul li:hover {
    color: var(--purple);
    cursor: pointer;
}

/** About */
.about {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--red_light);
    max-width: 300px;
    font-weight: 600;
}
.about p {
    max-width: 770px;
    font-size: 18px;
    line-height: 32px;
    color: var(--black_light);
}

/* Header */

.header__container {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: var(--white);
    height: 540px;
}

.first_header_container {
    position: relative;
    margin-top: 35px;
}

.first_header_container img {
    max-width: 320px;
    position: absolute;
    z-index: 20;
    left: -150px;
}

.shape__vector {
    margin: 0 auto;
    position: absolute;
    transform: scale(1.32);
    z-index: 10;
    margin-top: 70px;
    left: -55px;
}

.second_header_container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 300px;
    margin-left: 150px;
}

.second_header_container h2 {
    font-size: 30px;
    max-width: 200px;
    font-weight: bold;
    color: var(--red_light);
    text-indent: -9px;
}

.second_header_container h1 {
    font-size: 50px;
    max-width: 200px;
    font-weight: bold;
    color: var(--black);
}

.icons__container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    gap: 30px;
}

.icon__shape {
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: var(--purple);
    border: 2px solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__shape a {
    color: var(--purple);
    font-size: 24px;
}

.contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 20px;
    background-color: var(--red_light);
    margin-top: 50px;
    width: 100%;
    height: 13%;
    cursor: pointer;
    margin-left: 100px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}

.icon__contactame a {
    color: var(--white);
    font-size: 24px;
}

.contact__button h3 {
    color: var(--white);
}
/*Skills*/

.skill__container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.skill__container h2 {
    max-width: 15px;
    color: var(--red_light);
}

.skills {
    display: flex;
    justify-content: flex-start;
    gap: 104px;
    margin-top: 70px;
    max-width: 770px;
}

/* Habilidad 1*/

.mobile {
    padding: 15px 15px;
}

.container_skill_1 {
    background-color: var(--white);
}

.skill__1 hr {
    height: 5px;
    width: 95%;
    border: none;
    background-color: var(--purple)
}

.skill__1 h5 {
    text-align: center;
}

.mobile p {
    color: var(--purple);
    font-size: 30px;
    text-align: center;
}

/* Habilidad 2*/

.web {
    padding: 15px 15px;
}

.container_skill_2 {
    background-color: var(--white);
}

.skill__2 hr {
    height: 5px;
    width: 95%;
    border: none;
    background-color: var(--purple);
}

.skill__2 h5 {
    text-align: center;
}

.web p {
    color: var(--purple);
    font-size: 30px;
    text-align: center;
}

/* Habilidad 3*/

.HTML {
    padding: 15px 15px;
}

.container_skill_3 {
    background-color: var(--white);
}

.skill__3 hr {
    height: 5px;
    width: 95%;
    border: none;
    background-color: var(--purple);
}

.skill__3 h5 {
    text-align: center;
}

.HTML p {
    color: var(--purple);
    font-size: 30px;
    text-align: center;
}

/* Habilidad 4*/

.design {
    padding: 15px 15px;
}

.container_skill_4 {
    background-color: var(--white);
}

.skill__4 hr {
    height: 5px;
    width: 60%;
    border: none;
    background-color: var(--purple);
}

.skill__4 h5 {
    text-align: center;
}

.design p {
    color: var(--purple);
    font-size: 30px;
    text-align: center;
}

@media (min-width: 320px){
    .nav__bar {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        margin-bottom: 20px;
    }
    .nav__bar button {
        border: none;
        background-color: transparent;
        padding-right: 40px;
    }
    .nav__bar button i {
        color: var(--purple);
        font-size: 28px;
        cursor: pointer;
        transition: 0.5s;
    }
    .nav__bar button i:hover {
        rotate: 180deg;
    }
    /** Text */
    .first__section__text {
        text-align: center;
    }
    .first__section__text h1 {
        font-size: 40px;
        color: var(--black);
    }
    .first__section__text p {
        font-size: 20px;
        color: var(--red_light);
        margin-top: 20px;
    }
    .first__section__subtext {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
        font-size: 20px;
    }
    .first__section__subtext p:nth-child(1){
        color: var(--purple);
    }
    .first__section__subtext p:nth-child(2){
        color: var(--purple);
        opacity: 0.6;
    }
    /** Iconos */
    .container__icons {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 2rem;
    }
    .container__icons > div {
        background-color: var(--purple);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .container__icons div a i {
        color: white;
        font-size: 20px;
    }
    .second__section__button__desktop {
        display: none;
    }
    /** Second Section */
    .second__section {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second__section__image img {
        width: 50px;
    }
    .second__section__button button {
        border: none;
        background-color: var(--purple);
        width: 300px;
        padding: 20px;
        cursor: pointer;
        margin: 40px;
    }
    .second__section__button button a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
    }
    /** Third Section */
    .third__section {
        background-color: var(--red_light);
        padding: 40px 20px;
        display: flex;
        justify-content: center;
    }
    .third__section__principal__text h3 {
        font-size: 40px;
        line-height: 55px;
        color: var(--red_light);
        margin-bottom: 20px;
    }
    .third__section__principal__text p {
        color: var(--black);
        opacity: 0.9;
        margin-bottom: 40px;
        font-size: 18px;
        max-width: 400px; 
    }
    .third__section__elements h4 {
        font-size: 22px;
        padding: 10px 0;
        margin-bottom: 10px;
        color: var(--black);
    }
    .element__display {
        display: flex;
        gap: 20px;
        padding: 10px 0;
    }
    .third__section__elements hr {
        border: none;
        height: 2px;
        background-color: var(--black);
        opacity: 0.35;
    }
    .third__section__container{
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .third__section__icons__container h3 {
        font-size: 22px;
        max-width: 400px;
        font-weight: 600;
        margin-bottom: 20px;
        color: var(--red_light);
    }
    .third__section__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .display__content__icons {
        padding: 50px 0;
    }
    .display__content__icons p {
        max-width: 200px;
        color: var(--black_light);
        font-weight: 600;
        opacity: 0.9;
    }
    .display__content__icons h4{
        max-width: 200px;
        color: var(--black_light);
        font-weight: 600;
        opacity: 0.9;
    }
    .porcentaje_1{
        align-items: center;
        max-width: 200px;
        font-size: 25px;
        text-align: center;
        top:50%;
        justify-content: center;
    }
    .porcentaje_2{
        align-items: center;
        max-width: 200px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
    .porcentaje_3{
        align-items: center;
        max-width: 200px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
    .porcentaje_4{
        align-items: center;
        max-width: 200px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
    /** fourth section */
    .skill__container h3 {
    max-width: 15px;
    color: var(--red_light);
}
/*Fourth*/

.fourth__section h3 {
    font-size: 30px;
    padding: 10px 0px;
    max-width: 300px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--red_light);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.fourth__section {
    display: inline-block;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    top: 10px;
    gap: 3rem;
    text-align: center;
    position: relative;
}
.skills {
    display: flex;
    justify-content: flex-start;
    gap: 104px;
    margin-top: 70px;
    max-width: 770px;
}
    .fourth__section__display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px 0px;
        gap: 40px;
    }
    .fourth__section__elements p {
        color: var(--purple);
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    /** Contact Section */
    .fifth__section h3 {
        font-size: 30px;
        padding: 10px 0px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: var(--red_light);
        text-align: center;
    }
    .contact__section {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    .contact__section__elements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .display__contact__elements {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .display__contact__elements i {
        color: var(--purple);
        font-size: 40px;
    }
    .bg__dark {
        font-weight: 600;
        color: var(--black);
        margin-top: 5px;
        line-height: 30px;
    }
    .bg__light {
        font-weight: 400;
        color: var(--black);
        font-size: 14px;
        opacity: 0.7;
    }
    /** Footer */
    .footer__section {
        padding: 40px;
        margin-top: 40px;
        text-align: center;
        color: var(--purple);
        font-weight: 600;
    }
}

@media (min-width: 768px){
}
@media (min-width: 992px){
    .first__section {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 40px;
    }
    .second__section {
        margin-top: 0;
    }
    .second__section__image img {
        min-width: 300px;
    }
    .first__section__text {
        text-align: start;
    }
    .first__section__text h1 {
        font-size: 60px;
        padding-right: 40px;
        width: 350px;
    }
    .first__section__text p {
        width: 500px;
        font-size: 24px;
    }
    .first__section__subtext {
        justify-content: flex-start;
    }
    .container__icons {
        justify-content: flex-start;
    }
    .second__section__button {
        display: none;
    }
    .second__section__button__desktop {
        display: flex;
    }
    .second__section__button__desktop button {
        border: none;
        background-color: var(--red_light);
        width: 300px;
        padding: 20px;
        cursor: pointer;
        margin: 40px 0px;
    }
    .second__section__button__desktop button a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
    }
    .third__section__container {
        display: flex;
        justify-content: center;
    }
    .third__section__principal__text {
        max-width: 50%;
    }
    .third__section__principal__text h3 {
        width: 350px;
    }
    .third__section__principal__text p {
        width: 400px;
    }
    .third__section__elements {
        min-width: 30%;
        margin-left: 120px;
    }
    .third__section__icons {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
    
}